
/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

/*Section-1-home*/

.home__content{
    @apply  flex h-[75vh] flex-col items-center justify-between  bg-[url('../img/sanFranciscoMobile.jpg')] bg-cover bg-center bg-no-repeat  lg:h-96 lg:bg-[url('../img/sanFranciscoDesktop.jpg')] lg:bg-cover lg:bg-center lg:h-auto lg:w-auto ;
}

.content__search--input{
@apply  mt-6 w-2/5 min-w-72 rounded-full bg-white/30 p-3 shadow-sm outline-none transition-all ease-linear focus-within:shadow-sm hover:w-3/5 hover:shadow-sm hover:ring-2 focus:w-3/5 focus:bg-white focus:ring-2  lg:space-y-0 lg:items-start lg:justify-center lg:h-full lg:pl-16;
.duration-600 {
    transition-duration: 600ms;
  }
}

.content__explo--button{
    @apply  mb-6 w-48 transform rounded-full bg-white p-4 text-lg font-semibold text-primary shadow-sm transition-all  ease-in-out hover:-translate-y-1 hover:scale-100 hover:bg-primary hover:text-white;
    transition-duration: 700ms;
    }




/*Section-2-Cards-recommendation*/
    .recommendation {
      @apply max-w-screen-lg mx-auto p-2;
    }
    
   
    .recommendation__title{
        @apply  text-xl font-semibold text-primary text-start p-4;
    }
    .card {
      @apply grid grid-flow-col gap-4 overflow-x-scroll px-1 py-6 transition-all duration-300 ease-in-out ;
    }
  
    .card__section {
      @apply h-64 w-48 rounded-xl shadow-xl cursor-pointer  hover:-translate-y-1 transition-all duration-200 ease-in-out;
      transition: @apply transform 0.2s ease-in-out;
      hover: @apply scale-200;
    }
    
    .card__background {
      @apply h-3/5;
    }
    .card__background--img{
        @apply object-cover h-full w-full rounded-t-xl;
    }
    .card__content {
      @apply h-2/5 pt-2;
    }
    .card__content--primary{
        @apply bg-white rounded-b-xl p-2;
    }

    .card__content--secondary{
        @apply bg-secondary rounded-b-xl p-2;
    }
   
    .card__content--border{
        @apply bg-secondary rounded-b-xl p-2;
    }

    .card__title {
      @apply font-bold text-2xl;
    }

    .card__font--blue{
        @apply font-bold text-2xl text-tertiary;
    }
    .card__title--white{
        @apply  font-bold text-2xl text-white;
    }
   
    .card__description {
      @apply text-sm;
    }
    .card__description--blue{
      @apply text-tertiary text-sm;
    }

    .card__description--white {
        @apply text-white text-sm;
      }


/*Section-3-Cards-Trending*/

.trending{
   @apply xl:ml-0 p-2 xl:pl-0 xl:pr-0;
}
.trending__title{
    @apply text-xl font-semibold text-primary text-start p-4;
 }
 
.trending__cards{
    @apply grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-4 cursor-pointer;
}

.trending__card--one{
    @apply lg:col-span-3 md:mb-4 relative p-0 transition ease-in-out delay-200  hover:-translate-y-1 hover:scale-105 hover:duration-300;
}


.trending__card--two{
    @apply md:col-span-1 lg:col-span-1 md:mb-4 relative p-0 transition ease-in-out delay-200  hover:-translate-y-1 hover:scale-105 hover:duration-300;
}

.trending__card--three-four{
    @apply md:col-span-1 lg:col-span-1 md:mb-4 relative p-0 transition ease-in-out delay-200  hover:-translate-y-1 hover:scale-105 hover:duration-300;
}

.trending__card--img{
    @apply object-cover bg-cover w-96	h-80 rounded-2xl;
}

.trending__description{
    @apply absolute top-0 left-0 p-2 text-white;
}

.trending__description--title{
    @apply p-2 text-3xl leading-normal font-bold w-full text-left;
}

.trending__description--subtitle{
    @apply p-2 text-lg text-white text-left leading-normal;
}

/*Section-4-FAQS*/

.faq{
    @apply py-2 px-5 h-full w-full;
}

.faq__title{
    @apply text-2xl mb-0 text-primary font-extrabold p-4;
}

.faq__content{
    @apply w-full h-full flex flex-col space-y-4 p-4;
}

.faq__content--title{
    @apply text-primary text-sm font-extrabold mb-2;
}

.faq__content--subtitle{
    @apply font-semibold text-xs mr-10;
}

/* FOOTER */
.footer{
   @apply w-full h-auto border-dotted border-2 border-gray-50 p-6 my-20 space-y-2;
}
.footer__title{
    @apply  text-lg text-gray-300 transition-all ease-in-out hover:-translate-y-1 hover:scale-100  hover:text-pink-600;
}
.footer__list{
    @apply flex flex-col space-y-2;
}

.footer__item{
    @apply text-sm text-gray-300 transition-all ease-in-out hover:-translate-y-1 hover:scale-100  hover:text-pink-600;
}

.footer__social--list{
    @apply text-xl text-gray-300 py-2 flex space-x-4;
}

.footer__social-link{
    @apply transition-all ease-in-out hover:-translate-y-1 hover:scale-100  hover:text-pink-600;
}

/* FOOTER-tapbar */
.footer__tapBar{
    @apply w-full h-20 bg-white flex items-center justify-center space-x-10 fixed left-0 bottom-0 border-t border-gray-100 shadow-md lg:hidden;
}

.footer__tabBar--item{
    @apply transform    text-xl text-gray-200 transition-all ease-in-out  hover:scale-100  hover:text-pink-600;
}

.dark {
    @apply bg-gray-900 text-white;
  }
  
  .dark .footer__tapBar {
    @apply bg-gray-900 text-xl text-gray-200 transition-all ease-in-out  hover:scale-100  hover:text-pink-600;
  }
  
  .dark .footer__tabBar--item {
    @apply text-white text-xl text-gray-200 transition-all ease-in-out  hover:scale-100  hover:text-pink-600;
  }

}