// Variables
$primary-color: #333;
$secondary-color: #666;
$background-color: #f9f9f9;
$orange-color: #FE846F;
$bg-color: #492a77;
$bg-color-base: rgb(255 131 36);
$text-color: rgb(20, 7, 7);
// Parametros Grid
$toggle-width: 27px;
$toggle-height: 4px;
$gap: 6px;



@mixin btn-estandar {
    vertical-align: bottom;
    text-decoration: none;
    border: 0.5px solid $bg-color;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 0.6rem;
    font-weight: 600;
    color: $bg-color;
    background-color: #ffffff;
    transition: all 0.3s;

    &:hover {
        color: $bg-color-base;
        background-color: $bg-color;
    }

    &:active {
        transform: scale(0.9);
    }

    &:focus {
        outline: none;
    }
}

@mixin hover-scale($scale: 1.2, $duration: 0.5s, $delay: 0.5s) {
    &:hover {
        transform: scale($scale);
        transition-duration: $duration;
        outline: none;
        transition-delay: calc(var(--transition-delay) * 2);
    }
}

@mixin flexCenter($direction: row, $content: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn-grow-box($bg-color: #eeeeee, $hover-color: #eeeeee, $border-color: $bg-color-base, $padding: 16px 20px, $border-radius: 3px, $transition: 0.3s) {
    background: $bg-color;
    color: $border-color;
    border: 2px solid #8655a1;
    padding: $padding;
    width: 40vw;
    height: 10vh;
    border-radius: $border-radius;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;

    &:hover {
        color: #fff;
        /* color de fuente hover */
    }

    &::after {
        content: "";
        background: $border-color;
        /* color de fondo hover */
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: scale(0, 0);
        transition: all $transition ease;
    }

    &:hover::after {
        transform: scale(1, 1);
        /* Expande completamente */
        transition: all $transition ease-out;
    }
}



html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, sans-serif;
    overflow-y: auto;
}



.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1,
h2,
h3,
p {
    font-family: Verdana, Geneva, sans-serif;

}

header {
    width: 100%;
    height: 140px;
    display: grid;
    background-color: #ffffff;
}


.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
        height: 40px;
        max-width: 100%;
        @include hover-scale(1.1, 0.2s, 2);
    }

    .menu-toggle {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: $gap;
        border: none;
        background: transparent;
        padding: 5px;

        span {
            margin-right: 20px;
            width: $toggle-width;
            height: $toggle-height;
            background-color: $text-color;
            transition: all 0.3s ease;
        }

        &.menu-open {
            span:nth-child(1) {
                transform: rotate(45deg) translate(10px, 8px);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }

    .nav-links {
        list-style: none;
        display: none;
        flex-direction: column;
        gap: 30px;
        background-color: #ffffff;
        position: absolute;
        top: 80px;
        width: 360px;
        right: 0;
        padding: 30px;
        border-radius: 5px;
        z-index: 1000;

        li {
            a {

                color: $bg-color;
                text-decoration: none;
                position: relative;
                padding: 10px 0;

                &::after {

                    content: "";
                    display: block;
                    height: 1.4px;
                    /* Altura de la línea */
                    background-color: $bg-color-base;
                    /* Color de la línea */
                    width: 100%;
                    /* Ancho de la línea */
                    position: absolute;
                    bottom: 0;
                    /* Espacio entre el texto y la línea */
                    left: 0;
                    /* Alineación a la izquierda */
                    opacity: 1;
                    /* Opacidad de la línea, ajustable */
                }
            }
        }

        &.show-menu {
            display: flex;


        }
    }

}


/*Home*/
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-image: url("../assets/img/ITG_blog-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.home-main section {


    display: grid;
    grid-column: 2;
    justify-content: center;

    .home__main--title {

        font-style: normal;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        font-size: 4rem;
        text-transform: none;
        text-align: center;
        margin-top: 60px;
    }

    .home__main--descri {
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding: 2px 10px 1px;
        font-weight: 400;
        margin-top: 5px;
    }

}


.home__main--button {
    @include btn-grow-box();

    margin-left: 60px;
    margin-bottom: 100px;
    text-align: center;
    text-decoration: none;
    color: #492a77;
    font-size: 1rem;
    width: 120px;
    height: 20px;
    padding: 28px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.footer {
    padding: 5px;
    background-color: $bg-color-base;
    text-align: center;

    .footer__title {
        text-decoration: none;
        font-size: 1.5rem;
        transition: color 0.3s ease;
        color: $bg-color;
    }

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #333;
    }

    &__nav {
        margin-top: 1px;
    }

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        li {
            a {
                text-decoration: none;
                font-size: 1rem;
                transition: color 0.3s ease;
                color: $bg-color;
            }
        }
    }

}


.blogs-main {
    display: grid;
    gap: 10px; // Añade espacio entre secciones


    .blogs-info--button {
        position: absolute;
        margin: 2px 5px;
        padding: 2px;
    }
}

// Contenedor principal para noticias
.blogs-new-container {
    background-color: #e6e9ed;
    padding: 20px;
    border-radius: 5px; // Bordes redondeados
}

// Diseño de la sección de noticias
.blogs-main--new {
    display: grid;
    grid-template-columns: 1fr; // Por defecto una sola columna
    gap: 10px; // Espaciado entre elementos

    @media (min-width: 768px) {
        grid-template-columns: 2fr 1fr; // Dos columnas en pantallas más grandes
    }
}

.blogs-main--img {
    img {
        height: auto; // Mantiene la proporción
        width: 100%; // Se adapta al contenedor
        border-radius: 5px; // Bordes redondeados
    }
}

.blogs-news-info-container {
    h3 {
        margin: 0;
        font-size: 1.5rem; // Ajuste de tamaño
        letter-spacing: 0.111rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
        margin: 5px 5px;
        padding: 2px 2px;
        font-size: 0.9rem;
        text-align: justify;
    }
}

.blogs-posts-container {
    padding: 10px;

    h3 {
        border-bottom: 2px solid #181514;
        padding-bottom: 5px;
        font-size: 1.5rem; // Tamaño del encabezado
    }

    .post-container {
        margin: 15px 0; // Espaciado entre publicaciones
        background-color: #e6e9ed; // Fondo blanco para los artículos
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra sutil

        img {
            width: 100%; // Adaptar imagen al contenedor
            height: auto; // Mantener proporción
            border-radius: 5px; // Bordes redondeados
        }

        h4 {
            font-size: 1.2rem; // Tamaño del título del post
            margin: 10px 0;
        }

        p {
            font-size: 0.8rem;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: $bg-color; // Color del enlace
            transition: color 0.3s;

        }
    }
}

.post-container {
    margin: 15px 0;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    p {
        margin: 5px 0;
        font-size: 0.9rem;
        line-height: 1.2;
    }

    .more-content {
        display: none;
        margin: 0;
    }

    .blogs-info--button {
        @include btn-estandar;
    }
}

/*Contact US*/



// Estilos generales
.section-bg {
    overflow-x: hidden;
    background-size: cover;
    position: relative;
    background-position: left;
    z-index: 0;
    padding: 0;
    min-height: auto;
    overflow-y: auto;

    &__overlay {
        background-color: $bg-color;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 110px 0;
    }
}

.contact {
    .contact-info__phone {
        .contact-info__list {
            .contact-info__phone img {
                width: 10px;
                height: 10px;
            }
        }
    }

    &-info {
        padding: 0 20px 0 0;

        &__title {
            font-size: 35px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 30px;
            text-align: center;
        }

        &__text {
            margin: 5px 21px;
            padding: 10px 10px;
            text-align: center;
            color: #ececec;
        }

        &__list {
            display: flex;
            flex-direction: column; // Asegúrate de que sea columna
            align-items: center; // Centra horizontalmente
            margin-top: 30px;
        }

        &__item {
            display: flex;
            width: 100%;
            margin-bottom: 22px;
            align-items: center; // Centra verticalmente


            // Ajustes para móviles
            flex-direction: column; // Pasa a columna en móviles

        }

        &__icon {
            margin-right: 10px; // Espacio entre icono y texto

            i {
                font-size: 1.8rem;
                color: $bg-color-base;
            }
        }

        &__content {
            margin-left: 0; // Elimina margen izquierdo
        }

        &__heading {
            color: #fff;
            font-size: 18px;
        }
    }


    &-form {
        display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        padding: 30px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 50%;
        height: 50%;

        &__form {
            display: flex;
            align-items: center;
            align-content: center;
            width: 80%;
        }

        &__input,
        &__textarea {
            border: 0;
            background: transparent;
            display: block;
            width: 100%;
            min-height: 50px;
            padding: 11px 20px;
            font-size: 0.8rem;
            font-weight: 600;
            line-height: 27px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            transition: border-color 0.2s ease-in-out;
            font-family: Verdana, Geneva, sans-serif;

            &:hover,
            &:focus {
                outline: none;
                box-shadow: none;
                background: transparent;
                border-bottom-color: $orange-color;
            }

            &::placeholder {
                color: #666;
                transition: color 0.2s ease-in-out;
            }

            &:focus::placeholder {
                color: #333;
            }
        }

        &__input {
            height: 50px;
        }

        &__textarea {
            resize: vertical;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 0.8rem;
        }

        &__button {

            i {
                font-size: 1.2rem;
                color: $bg-color;
            }

            background: #fff;
            color: $bg-color;
            padding: 10px 10px 10px;
            margin-top: 20px;
            margin-left: 50px;
            font-size: 1rem;
            line-height: 28px;
            border: 2px solid $bg-color-base;
            border-radius: 10px;
            transition: background-color 0.2s ease-in-out,
            border-color 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: $bg-color-base ;
                border-color: $bg-color-base;
            }




        }

        &__label {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        &__error {
            font-size: 12px;
            color: #f00;
            margin-top: 5px;
        }
    }

    &__button {
        @include btn-estandar();
    }
}


/* Profile */


.card {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.card .card-header {
    height: 150px;
    position: relative;
}

.card .card-header .waves-container {
    height: 100%;
}

.card .card-header .waves-container .wave {
    position: absolute;
    width: 650px;
    height: 650px;
    background-image: linear-gradient(to bottom left, #711396da, $bg-color);
    transform: translateX(-50%);
}

.card .card-header .waves-container .wave1 {
    border-radius: 50%;
    top: -330%;
    left: 50%;
    animation: spin 12s linear infinite;
}

.card .card-header .waves-container .wave2 {
    border-radius: 46%;
    top: -332%;
    left: 48%;
    opacity: 0.5;
    animation: spin 16s linear infinite;
}

.card .card-header .waves-container .wave3 {
    border-radius: 40%;
    top: -328%;
    left: 52%;
    opacity: 0.2;
    animation: spin 16s linear infinite;
}

@keyframes spin {
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.card .card-header .profile-img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* to maintain the aspect ratio of the image */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .card-body {
    margin-top: 100px;
    text-align: center;
    padding: 0 20px;
}

.card .card-body h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1rem;

    color: rgb(0, 0, 0);
}

.card .card-body h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8rem;
    color: rgb(9, 2, 10);

}

.card .card-body p {
    font-family: Verdana, Geneva, sans-serif;
    padding: 20px 2px 0;
    text-align: justify;
    font-size: 0.7rem;
    line-height: 1.8;
    color: rgba(92, 90, 90, 0.712);
    margin: 20px 0;
}