$primary-color: #FFEFE7;
$secundary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;
$furniture-color: #FFFFFF;
$section-color: #E86424;
$white-color: #FFFFFF;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 1.45em;

//flex variables
$section-padding: 60px;
$column-gap: 200px;
$row-gap: 100px;

// Breakpoints
$mobile-breakpoint: 320px;
