// _about.scss
.info__about--us {
    @extend .skincare__container;
    padding-bottom: $section-padding;

    h2 {
        font-weight: bold;
        padding-bottom: 60px;
        font-size: 30px;
        line-height: 65px;
        text-align: left;
    }

    .about__mission--section {
        @include flexCenter(row, space-evenly, center);

        .about__ambient--earth {
            width: 30vw;
            display: flex;
            gap: 1px;
            color: $section-color;

            img {
                object-fit: contain;
            }

            p {
                text-align: center;
                font-size: $paragraph-size;
            }
        }

        .about__innovation--focus {
            @extend .about__ambient--earth;
        }
    }
}