.info-location {
    @extend .skincare__container;
    color: $section-color;

    h2 {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .location__google--img {
        @include flexCenter(row, center, center);
        padding-bottom: 50px;
    }

    p,
    h3 {
        font-size: $paragraph-size;
        text-align: center;
    }
}