// _sections.scss
section {
    padding: 60px;

    h2 {
        color: $primary-text-color;
        font-size: 2em;
        text-align: left;
    }

    .skincare__container {
        @extend %styles-card-title;

        .skincare__products {
            @extend %product-flex-cards;

            article.product-card {
                @include cardStyles($secundary-color, $primary-text-color);
            }
        }
    }

    .firniture__container {
        @extend .skincare__container;

        .firniture__products {
            @extend %product-flex-cards;

            article.product-card {
                @include cardStyles($tertiary-color, $furniture-color);
            }
        }
    }
}

article {
    @include flexCenter(row, space-between);
    padding: 70px 45px 0;
    color: $primary-text-color;

    .impact__title--text {
        display: flex;
        flex-direction: column;
        margin-bottom: 20rem;
        gap: 35px;
    }

    h1 {
        font-size: 3em;
    }

    p {
        font-size: $paragraph-size;
    }

    @include buttonStyle;

    button {
        @include hover-scale(1.1, 0.4s);
        width: 12vw;
        margin-top: 3rem;
        padding: 20px;
        background-color: $quaternary-color;
        border-radius: 35px;
        font-size: 1em;
        color: $white-color;
    }

    .section__background--image {
        img {
            width: 30vw;
            border-radius: 19px;
            @include cursorPointer;

            &:hover {
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
                transition-duration: 0.3s;
            }
        }
    }
}