/* 
1.Posicionamiento
2.Modelo de Caja 
3.Tipografia
4.visuales
5.otros
*/
:root {
    /*Fuentes*/
    --font-sans: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    /*colores*/

    --bitcoint-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #fff;
    --card-white: #808080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
}

html {
    font-size: 62.5%;
    font-family: var(--font-sans);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}


header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--soft-orange);
}

.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button span {
    display: inline-block;
    width: 18px;
    height: 17px;
    margin-left: 6px;
    margin-top: -2px;
    background-image: url('./assets/icon/icon-down-arrow.svg');
    /* background-size: 20px; */
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main__background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url('./assets/img/bitcoin.svg') center/cover no-repeat;
}

.main__exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main__exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/* Crear tabla con grid */
.main__table__container-grid {
    margin-top: 40px;
    width: 65%;
    align-self: center;
    min-width: 320px;
    max-width: 520px;
    text-align: left;
}

/* Contenedor de tabla */
.table__container-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.table__container-grid h3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: #ff9536;
    margin: 0 0 12px 7.5rem;
    /* Combina márgenes */
}

/* Configuración de la tabla */
.grid__table__container-items {
    display: grid;
    margin: 0 4rem 0 6rem;
    /* Usa un solo margen */
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    font-family: var(--font-inter);
    gap: 1.5px;
}

.grid__table__container-items div {
    padding: 10px 12px;
    background-color: var(--just-white);
}

/* Bordes redondeados para las esquinas */

/* Esquina superior izquierda */

.grid__table__container-items div:first-child {
    border-radius: 8px 0 0 0;
}

/* Esquina superior derecha */

.grid__table__container-items div:nth-child(2) {
    border-radius: 0 8px 0 0;
}

/* Esquina inferior izquierda */

.grid__table__container-items div:nth-child(7) {
    border-radius: 0 0 0 8px;
}

/* Esquina inferior derecha */
.grid__table__container-items div:nth-child(8) {
    border-radius: 0 0 8px 0;
}

/* Títulos y precios */
.items__grid-title {
    font-family: var(--font-inter);
    font-size: 1.655rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
}

.items__grid-price {
    display: flex;
    align-items: center;
    font-family: var(--font-inter);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: #757575;
}

/* Alinea al final los iconos*/
.items__grid-value {

    align-items: center;
    justify-content: flex-end;

}

.items__grid-value .icon-trending {
    width: 12px;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1.1rem;
}

.items__grid-value .icon__trending-down {
    background-image: url('./assets/icon/icon-trending-down.svg');
}

.items__grid-value .icon__trending-up {
    background-image: url('./assets/icon/icon-trending-up.svg   ');
}

/* Fecha de actualización */
.grid__table__update-date {
    background-color: var(--soft-orange);
    color: var(--warm-black);
    text-align: center;
    margin-top: 15px;
    align-self: center;
    width: 180px;
    height: 28px;
    padding: 8px 0;
    border-radius: 8px;
}

.grid__table__update-date p,
.grid__table__update-date span {
    font-family: var(--font-inter);
    font-size: 12px;
    line-height: 14.52px;
    color: #282623;
    text-align: center;
}

.grid__table__update-date span {
    font-weight: 700;
}

/* Icono de flecha hacia la derecha */
.grid__table__icon-right img {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 27.5rem;
    top: 10.2rem;
}

/* Card de los productos */

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);

}

.product__detail__batata-logo {

    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/img/logo-main.svg');
}

.product__detail-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product__detail-title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product__detail-title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--card-white);
}

.card__product-detail {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px #00000029;
}

/* Card iconos de los productos */
.card__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card__icon-clock {
    background-image: url("./assets/icon/icon-clock.svg");
}

.card__icon-eye {
    background-image: url("./assets/icon/icon-eyes.svg");
}

.card__icon-dolar {
    background-image: url("./assets/icon/icon-dolar.svg");
}

.card__icon-check {
    background-image: url("./assets/icon/icon-check.svg");
}

/* Card title y body texto de los productos */
.card__product-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.card_product-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--card-white);
}