.contenedor{
    width: 300px;
    border: 5px solid #c019dd;
    background-color: #e98d50;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px 100px 100px;
    grid-auto-flow: column;
    gap:40px;

    span{
        color: white;
    }
}

.item{
    border: 5px  solid #00bcd4;
    font-size: 4rem;
}

.item:nth-child(4),.item:nth-child(1){
    background-color: #ACD900;
}

.item:nth-child(2),.item:nth-child(5){
    background-color: #70BC04;
}


.item:nth-child(3),.item:nth-child(6){
    background-color: #258300;
}