@charset "UTF-8";
section .skincare__container, section .info-location, section .info-gallery, section .info__about--us, section .firniture__container {
  padding-bottom: 60px;
}
section .skincare__container h2, section .info-location h2, section .info-gallery h2, section .info__about--us h2, section .firniture__container h2 {
  margin-left: 8rem;
  padding-bottom: 60px;
  font-size: 38px;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
}

section .firniture__container .firniture__products, section .skincare__container .skincare__products, section .info-location .skincare__products, section .info-gallery .skincare__products, section .info__about--us .skincare__products, section .firniture__container .skincare__products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

header nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 30px 50px;
}
header nav .navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar__logo a {
  position: absolute;
  justify-content: flex-end;
  color: #7C6A0A;
  padding: 2rem;
  font-size: 1.45em;
  text-decoration: none;
  cursor: pointer;
}
header nav .navbar__logo a:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
header nav .navbar__container--icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  gap: 35px;
}
header nav .navbar__container--icon li {
  list-style: none;
}
header nav .navbar__container--icon img {
  width: 1.5vw;
}
header nav .navbar__container--icon img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
header nav .navbar__container--icon button {
  background: none;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: auto;
  padding: 40px;
  line-height: 30px;
  color: #FFFFFF;
  gap: 200px;
}
footer .footer-nav li,
footer .footer-nav a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: inherit;
  padding: 0.2rem 0;
}
footer .footer-container h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 39px;
  text-align: left;
  cursor: pointer;
}
footer .footer-container .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  line-height: 20px;
  cursor: pointer;
}
footer .footer-container .social-media img {
  width: 1.8vw;
}

section {
  padding: 60px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
  text-align: left;
}
section .skincare__container .skincare__products article.product-card, section .info-location .skincare__products article.product-card, section .info-gallery .skincare__products article.product-card, section .info__about--us .skincare__products article.product-card, section .firniture__container .skincare__products article.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 16vw;
  height: 48vh;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 10px 20px 0;
  border-radius: 8px;
  cursor: pointer;
}
section .skincare__container .skincare__products article.product-card:hover, section .info-location .skincare__products article.product-card:hover, section .info-gallery .skincare__products article.product-card:hover, section .info__about--us .skincare__products article.product-card:hover, section .firniture__container .skincare__products article.product-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.247);
  transition-duration: 0.2s;
}
section .skincare__container .skincare__products article.product-card .product__card--icon, section .info-location .skincare__products article.product-card .product__card--icon, section .info-gallery .skincare__products article.product-card .product__card--icon, section .info__about--us .skincare__products article.product-card .product__card--icon, section .firniture__container .skincare__products article.product-card .product__card--icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  width: 100%;
  padding-bottom: 12px;
}
section .skincare__container .skincare__products article.product-card .product__card--icon svg, section .info-location .skincare__products article.product-card .product__card--icon svg, section .info-gallery .skincare__products article.product-card .product__card--icon svg, section .info__about--us .skincare__products article.product-card .product__card--icon svg, section .firniture__container .skincare__products article.product-card .product__card--icon svg {
  width: 28px;
  height: 28px;
  stroke: currentColor;
}
section .skincare__container .skincare__products article.product-card .section__product--img, section .info-location .skincare__products article.product-card .section__product--img, section .info-gallery .skincare__products article.product-card .section__product--img, section .info__about--us .skincare__products article.product-card .section__product--img, section .firniture__container .skincare__products article.product-card .section__product--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
section .skincare__container .skincare__products article.product-card .section__product--img img, section .info-location .skincare__products article.product-card .section__product--img img, section .info-gallery .skincare__products article.product-card .section__product--img img, section .info__about--us .skincare__products article.product-card .section__product--img img, section .firniture__container .skincare__products article.product-card .section__product--img img {
  width: 12vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .skincare__container .skincare__products article.product-card h3, section .info-location .skincare__products article.product-card h3, section .info-gallery .skincare__products article.product-card h3, section .info__about--us .skincare__products article.product-card h3, section .firniture__container .skincare__products article.product-card h3,
section .skincare__container .skincare__products article.product-card p,
section .info-location .skincare__products article.product-card p,
section .info-gallery .skincare__products article.product-card p,
section .info__about--us .skincare__products article.product-card p,
section .firniture__container .skincare__products article.product-card p {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 20px;
  max-width: 100%;
}
section .skincare__container .skincare__products article.product-card h3, section .info-location .skincare__products article.product-card h3, section .info-gallery .skincare__products article.product-card h3, section .info__about--us .skincare__products article.product-card h3, section .firniture__container .skincare__products article.product-card h3 {
  margin-right: 4.5rem;
  font-size: 20px;
  font-weight: 600;
  line-height: 32.5px;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
}
section .skincare__container .skincare__products article.product-card p, section .info-location .skincare__products article.product-card p, section .info-gallery .skincare__products article.product-card p, section .info__about--us .skincare__products article.product-card p, section .firniture__container .skincare__products article.product-card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.5px;
  overflow: hidden;
  text-align: left;
}
section .firniture__container .firniture__products article.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 16vw;
  height: 48vh;
  background-color: #BABD8D;
  color: #FFFFFF;
  padding: 10px 20px 0;
  border-radius: 8px;
  cursor: pointer;
}
section .firniture__container .firniture__products article.product-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.247);
  transition-duration: 0.2s;
}
section .firniture__container .firniture__products article.product-card .product__card--icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  width: 100%;
  padding-bottom: 12px;
}
section .firniture__container .firniture__products article.product-card .product__card--icon svg {
  width: 28px;
  height: 28px;
  stroke: currentColor;
}
section .firniture__container .firniture__products article.product-card .section__product--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
section .firniture__container .firniture__products article.product-card .section__product--img img {
  width: 12vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .firniture__container .firniture__products article.product-card h3,
section .firniture__container .firniture__products article.product-card p {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 20px;
  max-width: 100%;
}
section .firniture__container .firniture__products article.product-card h3 {
  margin-right: 4.5rem;
  font-size: 20px;
  font-weight: 600;
  line-height: 32.5px;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
}
section .firniture__container .firniture__products article.product-card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.5px;
  overflow: hidden;
  text-align: left;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 70px 45px 0;
  color: #7C6A0A;
}
article .impact__title--text {
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;
  gap: 35px;
}
article h1 {
  font-size: 3em;
}
article p {
  font-size: 1.45em;
}
article button {
  background: none;
  border: none;
  cursor: pointer;
}
article button {
  width: 12vw;
  margin-top: 3rem;
  padding: 20px;
  background-color: #FA9500;
  border-radius: 35px;
  font-size: 1em;
  color: #FFFFFF;
}
article button:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}
article .section__background--image img {
  width: 30vw;
  border-radius: 19px;
  cursor: pointer;
}
article .section__background--image img:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
}

.info__about--us {
  padding-bottom: 60px;
}
.info__about--us h2 {
  font-weight: bold;
  padding-bottom: 60px;
  font-size: 30px;
  line-height: 65px;
  text-align: left;
}
.info__about--us .about__mission--section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.info__about--us .about__mission--section .about__ambient--earth, .info__about--us .about__mission--section .about__innovation--focus {
  width: 30vw;
  display: flex;
  gap: 1px;
  color: #E86424;
}
.info__about--us .about__mission--section .about__ambient--earth img, .info__about--us .about__mission--section .about__innovation--focus img {
  -o-object-fit: contain;
     object-fit: contain;
}
.info__about--us .about__mission--section .about__ambient--earth p, .info__about--us .about__mission--section .about__innovation--focus p {
  text-align: center;
  font-size: 1.45em;
}
.info-gallery h2 {
  font-weight: bold;
  padding-bottom: 10rem;
}
.info-gallery .gallery__section--img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info-gallery .gallery__section--img img {
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
}
.info-gallery .gallery__section--img img:hover {
  transform: scale(1.2);
  transition-duration: 0.4s;
}

.info-location {
  color: #E86424;
}
.info-location h2 {
  padding-bottom: 60px;
  padding-top: 60px;
}
.info-location .location__google--img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.info-location p,
.info-location h3 {
  font-size: 1.45em;
  text-align: center;
}

/* Reponsive Desing mobile */
@media (max-width: 320px) {
  body header nav {
    flex-direction: row;
    padding: 30px 1px 40px;
    color: #333;
  }
  body header nav .navbar__logo a:hover {
    transform: none;
  }
  main section {
    padding: 0px 0px 0px 0px;
  }
  .navbar__container .navbar__container--icon {
    display: none;
  }
  .navbar__container body header nav .navbar__logo a:hover {
    transform: none !important;
  }
  .navbar__container .navbar__menu--button {
    position: absolute;
    margin-left: 270px;
    background-image: url("../assets/svg/menu-mobile.svg");
    width: 7vw;
    height: 7vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    color: inherit;
  }
  section .skincare__container h2, section .firniture__container h2, section .info__about--us h2, section .info-gallery h2, section .info-location h2 {
    align-content: center;
    font-size: 28px;
    line-height: 40px;
    margin: 10px;
  }
  section .firniture__container h2 {
    margin-left: 12px;
  }
  .section__background--image img:hover {
    box-shadow: none !important;
  }
  article .section__background--image img {
    width: 98%;
    height: 90%;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .impact-section {
    margin-bottom: -250px;
    display: flex;
    flex-direction: column;
  }
  .impact__title--text {
    order: 2;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: left;
  }
  .impact__title--text h1 {
    text-align: left;
    font-size: 2rem;
  }
  .impact__title--text p {
    font-size: 1rem;
  }
  article {
    margin: 10px 0 0px 0px;
    padding: 1px 5px;
    flex-direction: column;
    margin-left: 18px;
  }
  article button {
    margin: 1px 80px;
    width: 50%;
  }
  .skincare {
    align-content: center;
    cursor: pointer;
  }
  section .firniture__container .firniture__products article.product-card h3 {
    margin-right: 1rem;
  }
  section .skincare__container .skincare__products article.product-card h3, section .firniture__container .skincare__products article.product-card h3, section .info__about--us .skincare__products article.product-card h3, section .info-gallery .skincare__products article.product-card h3, section .info-location .skincare__products article.product-card h3,
  section .furniture__container .furniture__products article.product-card h3 {
    margin-right: 1rem;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
  }
  section .skincare__container .skincare__products article.product-card p, section .firniture__container .skincare__products article.product-card p, section .info__about--us .skincare__products article.product-card p, section .info-gallery .skincare__products article.product-card p, section .info-location .skincare__products article.product-card p,
  section .firniture__container .firniture__products article.product-card p {
    font-size: 10px;
    line-height: 16px;
    text-align: left;
  }
  section .skincare__container .skincare__products article.product-card .section__product--img img, section .firniture__container .skincare__products article.product-card .section__product--img img, section .info__about--us .skincare__products article.product-card .section__product--img img, section .info-gallery .skincare__products article.product-card .section__product--img img, section .info-location .skincare__products article.product-card .section__product--img img,
  section .firniture__container .firniture__products article.product-card .section__product--img img {
    width: 40vw;
    height: 25vh;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
  }
  section .skincare__container .skincare__products article.product-card, section .firniture__container .skincare__products article.product-card, section .info__about--us .skincare__products article.product-card, section .info-gallery .skincare__products article.product-card, section .info-location .skincare__products article.product-card,
  section .firniture__container .firniture__products article.product-card {
    width: 60vw;
    height: 60vh;
    padding: 15px;
    justify-content: center;
  }
  section .firniture__container .firniture__products,
  section .skincare__container .skincare__products,
  section .firniture__container .skincare__products,
  section .info__about--us .skincare__products,
  section .info-gallery .skincare__products,
  section .info-location .skincare__products {
    margin-top: 0px;
    align-items: center;
    flex-wrap: nowrap;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
    overflow-y: auto;
  }
  .info__about--us .about__mission--section {
    display: block;
  }
  .info__about--us .about__mission--section .about__ambient--earth,
  .info__about--us .about__mission--section .about__innovation--focus {
    display: inline;
  }
  .info__about--us .about__mission--section .about__ambient--earth img,
  .info__about--us .about__mission--section .about__innovation--focus img {
    padding: 10px;
    width: 40vw;
    margin: 20px auto;
    display: block;
    margin-bottom: 30px;
  }
  .info__about--us .about__mission--section .about__ambient--earth,
  .info__about--us .about__mission--section .about__innovation--focus {
    font-size: 0.8rem;
  }
  section .info__about--us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
  }
  section .info__about--us h2 {
    padding: 20px 0;
    margin-left: 0;
    text-align: center;
  }
  section .info-gallery h2 {
    margin-left: 50px;
  }
  .info-gallery .gallery__section--img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-gallery .gallery__section--img img {
    display: block;
    width: 80vw;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    margin-bottom: 20px;
    overflow: none !important;
  }
  .section .info-location {
    margin-top: -100px;
    margin-bottom: 20px;
  }
  section .info-location h2 {
    margin-left: 50px;
  }
  .info-location .location__google--img img {
    width: 250px;
    height: 250px;
    /* Para posicionar con `top` y `left` */
    left: 30px;
    border-radius: 3.85px 0px 0px 0px;
    /* Ajustes para la imagen */
    -o-object-fit: cover;
       object-fit: cover;
    /* Mantiene la proporción sin distorsión */
    background-size: cover;
    /* Si usas fondo, esto asegura que la imagen cubra el área */
    background-position: center;
    background-repeat: no-repeat;
    /* Mejora de calidad */
    image-rendering: -webkit-optimize-contrast;
    /* Mejora nitidez en Webkit (Chrome, Safari) */
    image-rendering: crisp-edges;
    /* Mejora la calidad de la imagen sin suavizarla */
    /* Acercar la imagen sin cambiar width/height */
    transform: scale(1.1);
    /* Escala la imagen un 10% */
    transition: transform 0.3s ease-in-out;
    /* Suaviza la transición de escala si es dinámica */
    /* Si la imagen se muestra como fondo, estos ajustes son útiles */
    background-attachment: fixed;
  }
  .info-location p,
  .info-location h3 {
    font-size: 1rem;
  }
  body footer .footer-container .social-media {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
  }
  body footer .footer-container .social-media img {
    width: 8vw;
  }
  body footer {
    padding: 5px;
  }
}