footer {

    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    padding: 40px;
    line-height: 30px;
    color: $furniture-color;
    gap: 200px;

    .footer-nav {

        li,
        a {

            @include flexCenter(row, space-between, center);

            text-decoration: none;

            font-size: 15px;
            font-weight: 500;
            line-height: 26px;
            text-align: left;
            color: inherit;
            padding: 0.2rem 0;
        }

    }

    .footer-container {
        h3 {
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 39px;
            text-align: left;
            @include cursorPointer;

        }

        .social-media {
            @include flexCenter(row, center, center);

            img {
                width: 1.8vw;
            }

            gap: 40px;
            line-height: 20px;
            cursor: pointer;

        }

    }

}