.contenedor {
    margin-left: 100px;
    margin-top: 300px;
    width: 100%;
    display: grid;
    place-content: center;
}

.container-grid {
    display: grid;
    align-content: center;
    grid-template-rows: 100px 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
}

.item--box {
    display: grid;
    background-color: #61A91D;
    width: 30px;
    height: 40px;
}

.box-center {
    position: absolute;
    display: grid;
    justify-items: end;
    justify-self: center;
    align-self: center;
    background-color: #1F3207;
    width: 10px;
    height: 10px;
}

.item {
    display: grid;
    border: 5px solid #39630A;
    font-size: 4rem;
}

.item:nth-child(4),
.item:nth-child(1),
.item:nth-child(3),
.item:nth-child(6),
.item:nth-child(2),
.item:nth-child(5) {
    display: grid;
    place-items: end;
    background-color: #ACD900;
}
