*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: 1200px;
    margin: 30px auto;
}

/* First section - Hero */
.hero{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 400px;
    border-bottom: 1px solid #ddd;

}
.hero__info{
    align-self: center;
}

.hero__info--title{
    color: #333;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 24px;
}

.hero__info--subtitle{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.hero__button{
    border: none;
    border-radius: 20px;
    color: #333;
    background-color: #fb8c00;
    font-weight: bolder;
    padding: 12px 24px;
}
.hero__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Second section - services */

.services-title {
    color: #3333333f;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 100px 0 50px 0;
  }
  
  .dishes__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    grid-gap: 50px;
    
  }
  
  .dishes-image {
    margin: 0;
    
  }
  
  .dishes-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #3333333f; /* Cambia el grosor y color según prefieras */
    border-radius: 10px; /* Opción para redondear las esquinas */
    
  }
  
  .dishes__image--big {
    grid-area: 1 / 1 / 3 / 3;
  }

  /* Third section - menu */

  .menu-title {
    color: #b3979b;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 100px 0 50px 0;
  }
  
  .plates__grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 100px;
  }
  
  .plates__items--img {
    margin: 0;
    background-color: #ffebee;
    padding: 20px;
    border-top-left-radius: 20px;
    border: 2px solid #d81a1a38; /* Cambia el grosor y color según prefieras */
    border-radius: 10px; /* Opción para redondear las esquinas */

  }
  
  .plates__items--img  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
   
  }


/* Para tabletas */
@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr; 
        grid-auto-rows: auto; 
    }

    .hero__info {
        text-align: center; 
    }

    .hero__button {
        width: 100%; 
    }

    .services-title, .menu-title {
        font-size: 2.5rem;
    }

    .dishes__grid, .plates__grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Asegurar que los elementos se ajusten */
        grid-gap: 30px; 
    }
}

/* Para móviles */
@media (max-width: 480px) {
    .hero {
        grid-template-columns: 1fr; 
        grid-auto-rows: auto; 
    }

    .hero__info--title {
        font-size: 2.5rem; 
    }

    .hero__info--subtitle {
        font-size: 1.2rem; 
    }

    .hero__button {
        padding: 10px 20px; 
    }

    .services-title, .menu-title {
        font-size: 2rem; 
    }

    .dishes__grid, .plates__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .plates__items--img {
        padding: 10px; 
    }
}