@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: "Lato", sans-serif;
  width: 550px;
}

.container {
  background: turquoise;
  width: 180px;
  height: 180px;
}

.element, .element9, .element8, .element7, .element6, .element5, .element4, .element3, .element2, .element1 {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.element1 {
  background: papayawhip;
  margin: 0;
}

.element2 {
  background: papayawhip;
  margin: 60px 0;
}

.element3 {
  background: papayawhip;
  margin: 120px 0;
}

.element4 {
  background: pink;
  margin: 0 auto;
}

.element5 {
  background: pink;
  margin: 60px auto;
}

.element6 {
  background: pink;
  margin: 120px auto;
}

.element7 {
  background: lightcyan;
  margin: 0 0 0 auto;
}

.element8 {
  background: lightcyan;
  margin: 60px 0 0 auto;
}

.element9 {
  background: lightcyan;
  margin: 120px 0 0 auto;
}vertical-align: middle;
}

.container6 {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.container7 {
  display: table-cell;
  text-align: right;
  vertical-align: top;
}

.container8 {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.container9 {
  display: table-cell;
  text-align: right;
  vertical-align: bottom;
}ate(-100%, -50%);
}

.element9 {
  background: lightcyan;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
}r: #ffffff;
  position: absolute;
  top: 80px;
  width: 360px;
  right: 0;
  padding: 30px;
  border-radius: 5px;
  z-index: 1000;
}
.mobile-nav .nav-links li a {
  color: #492a77;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
}
.mobile-nav .nav-links li a::after {
  content: "";
  display: block;
  height: 1.4px;
  /* Altura de la línea */
  background-color: rgb(255, 131, 36);
  /* Color de la línea */
  width: 100%;
  /* Ancho de la línea */
  position: absolute;
  bottom: 0;
  /* Espacio entre el texto y la línea */
  left: 0;
  /* Alineación a la izquierda */
  opacity: 1;
  /* Opacidad de la línea, ajustable */
}
.mobile-nav .nav-links.show-menu {
  display: flex;
}

/*Home*/
.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-image: url("../assets/img/ITG_blog-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.home-main section {
  display: grid;
  grid-column: 2;
  justify-content: center;
}
.home-main section .home__main--title {
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 4rem;
  text-transform: none;
  text-align: center;
  margin-top: 60px;
}
.home-main section .home__main--descri {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 2px 10px 1px;
  font-weight: 400;
  margin-top: 5px;
}

.home__main--button {
  background: #eeeeee;
  color: rgb(255, 131, 36);
  border: 2px solid #8655a1;
  padding: 16px 20px;
  width: 40vw;
  height: 10vh;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin-left: 60px;
  margin-bottom: 100px;
  text-align: center;
  text-decoration: none;
  color: #492a77;
  font-size: 1rem;
  width: 120px;
  height: 20px;
  padding: 28px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.home__main--button:hover {
  color: #fff;
  /* color de fuente hover */
}
.home__main--button::after {
  content: "";
  background: rgb(255, 131, 36);
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.home__main--button:hover::after {
  transform: scale(1, 1);
  /* Expande completamente */
  transition: all 0.3s ease-out;
}

.footer {
  padding: 5px;
  background-color: rgb(255, 131, 36);
  text-align: center;
}
.footer .footer__title {
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  color: #492a77;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}
.footer__nav {
  margin-top: 1px;
}
.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer__list li a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  color: #492a77;
}

.blogs-main {
  display: grid;
  gap: 10px;
}
.blogs-main .blogs-info--button {
  position: absolute;
  margin: 2px 5px;
  padding: 2px;
}

.blogs-new-container {
  background-color: #e6e9ed;
  padding: 20px;
  border-radius: 5px;
}

.blogs-main--new {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 768px) {
  .blogs-main--new {
    grid-template-columns: 2fr 1fr;
  }
}

.blogs-main--img img {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.blogs-news-info-container h3 {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.111rem;
  text-align: center;
}
.blogs-news-info-container p {
  font-size: 1rem;
  margin: 5px 5px;
  padding: 2px 2px;
  font-size: 0.9rem;
  text-align: justify;
}

.blogs-posts-container {
  padding: 10px;
}
.blogs-posts-container h3 {
  border-bottom: 2px solid #181514;
  padding-bottom: 5px;
  font-size: 1.5rem;
}
.blogs-posts-container .post-container {
  margin: 15px 0;
  background-color: #e6e9ed;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.blogs-posts-container .post-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.blogs-posts-container .post-container h4 {
  font-size: 1.2rem;
  margin: 10px 0;
}
.blogs-posts-container .post-container p {
  font-size: 0.8rem;
}
.blogs-posts-container .post-container a {
  display: inline-block;
  text-decoration: none;
  color: #492a77;
  transition: color 0.3s;
}

.post-container {
  margin: 15px 0;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.post-container p {
  margin: 5px 0;
  font-size: 0.9rem;
  line-height: 1.2;
}
.post-container .more-content {
  display: none;
  margin: 0;
}
.post-container .blogs-info--button {
  vertical-align: bottom;
  text-decoration: none;
  border: 0.5px solid #492a77;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 0.6rem;
  font-weight: 600;
  color: #492a77;
  background-color: #ffffff;
  transition: all 0.3s;
}
.post-container .blogs-info--button:hover {
  color: rgb(255, 131, 36);
  background-color: #492a77;
}
.post-container .blogs-info--button:active {
  transform: scale(0.9);
}
.post-container .blogs-info--button:focus {
  outline: none;
}

/*Contact US*/
.section-bg {
  overflow-x: hidden;
  background-size: cover;
  position: relative;
  background-position: left;
  z-index: 0;
  padding: 0;
  min-height: auto;
  overflow-y: auto;
}
.section-bg__overlay {
  background-color: #492a77;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 110px 0;
}

.contact .contact-info__phone .contact-info__list .contact-info__phone img {
  width: 10px;
  height: 10px;
}
.contact-info {
  padding: 0 20px 0 0;
}
.contact-info__title {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}
.contact-info__text {
  margin: 5px 21px;
  padding: 10px 10px;
  text-align: center;
  color: #ececec;
}
.contact-info__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.contact-info__item {
  display: flex;
  width: 100%;
  margin-bottom: 22px;
  align-items: center;
  flex-direction: column;
}
.contact-info__icon {
  margin-right: 10px;
}
.contact-info__icon i {
  font-size: 1.8rem;
  color: rgb(255, 131, 36);
}
.contact-info__content {
  margin-left: 0;
}
.contact-info__heading {
  color: #fff;
  font-size: 18px;
}
.contact-form {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 50%;
}
.contact-form__form {
  display: flex;
  align-items: center;
  align-content: center;
  width: 80%;
}
.contact-form__input, .contact-form__textarea {
  border: 0;
  background: transparent;
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 11px 20px;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 27px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out;
  font-family: Verdana, Geneva, sans-serif;
}
.contact-form__input:hover, .contact-form__input:focus, .contact-form__textarea:hover, .contact-form__textarea:focus {
  outline: none;
  box-shadow: none;
  background: transparent;
  border-bottom-color: #FE846F;
}
.contact-form__input::-moz-placeholder, .contact-form__textarea::-moz-placeholder {
  color: #666;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.contact-form__input::placeholder, .contact-form__textarea::placeholder {
  color: #666;
  transition: color 0.2s ease-in-out;
}
.contact-form__input:focus::-moz-placeholder, .contact-form__textarea:focus::-moz-placeholder {
  color: #333;
}
.contact-form__input:focus::placeholder, .contact-form__textarea:focus::placeholder {
  color: #333;
}
.contact-form__input {
  height: 50px;
}
.contact-form__textarea {
  resize: vertical;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0.8rem;
}
.contact-form__button {
  background: #fff;
  color: #492a77;
  padding: 10px 10px 10px;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 1rem;
  line-height: 28px;
  border: 2px solid rgb(255, 131, 36);
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
}
.contact-form__button i {
  font-size: 1.2rem;
  color: #492a77;
}
.contact-form__button:hover {
  background-color: rgb(255, 131, 36);
  border-color: rgb(255, 131, 36);
}
.contact-form__label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.contact-form__error {
  font-size: 12px;
  color: #f00;
  margin-top: 5px;
}
.contact__button {
  vertical-align: bottom;
  text-decoration: none;
  border: 0.5px solid #492a77;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 0.6rem;
  font-weight: 600;
  color: #492a77;
  background-color: #ffffff;
  transition: all 0.3s;
}
.contact__button:hover {
  color: rgb(255, 131, 36);
  background-color: #492a77;
}
.contact__button:active {
  transform: scale(0.9);
}
.contact__button:focus {
  outline: none;
}

/* Profile */
.card {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.card .card-header {
  height: 150px;
  position: relative;
}

.card .card-header .waves-container {
  height: 100%;
}

.card .card-header .waves-container .wave {
  position: absolute;
  width: 650px;
  height: 650px;
  background-image: linear-gradient(to bottom left, rgba(113, 19, 150, 0.8549019608), #492a77);
  transform: translateX(-50%);
}

.card .card-header .waves-container .wave1 {
  border-radius: 50%;
  top: -330%;
  left: 50%;
  animation: spin 12s linear infinite;
}

.card .card-header .waves-container .wave2 {
  border-radius: 46%;
  top: -332%;
  left: 48%;
  opacity: 0.5;
  animation: spin 16s linear infinite;
}

.card .card-header .waves-container .wave3 {
  border-radius: 40%;
  top: -328%;
  left: 52%;
  opacity: 0.2;
  animation: spin 16s linear infinite;
}

@keyframes spin {
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
.card .card-header .profile-img {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  /* to maintain the aspect ratio of the image */
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .card-body {
  margin-top: 100px;
  text-align: center;
  padding: 0 20px;
}

.card .card-body h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.card .card-body h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.8rem;
  color: rgb(9, 2, 10);
}

.card .card-body p {
  font-family: Verdana, Geneva, sans-serif;
  padding: 20px 2px 0;
  text-align: justify;
  font-size: 0.7rem;
  line-height: 1.8;
  color: rgba(92, 90, 90, 0.712);
  margin: 20px 0;
}justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.info-location p,
.info-location h3 {
  font-size: 1.45em;
  text-align: center;
}

/* Reponsive Desing mobile */
@media (max-width: 320px) {
  body header nav {
    flex-direction: row;
    padding: 30px 1px 40px;
    color: #333;
  }
  body header nav .navbar__logo a:hover {
    transform: none;
  }
  main section {
    padding: 0px 0px 0px 0px;
  }
  .navbar__container .navbar__container--icon {
    display: none;
  }
  .navbar__container body header nav .navbar__logo a:hover {
    transform: none !important;
  }
  .navbar__container .navbar__menu--button {
    position: absolute;
    margin-left: 270px;
    background-image: url("../assets/svg/menu-mobile.svg");
    width: 7vw;
    height: 7vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    color: inherit;
  }
  section .skincare__container h2, section .firniture__container h2, section .info__about--us h2, section .info-gallery h2, section .info-location h2 {
    align-content: center;
    font-size: 28px;
    line-height: 40px;
    margin: 10px;
  }
  section .firniture__container h2 {
    margin-left: 12px;
  }
  .section__background--image img:hover {
    box-shadow: none !important;
  }
  article .section__background--image img {
    width: 98%;
    height: 90%;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .impact-section {
    margin-bottom: -250px;
    display: flex;
    flex-direction: column;
  }
  .impact__title--text {
    order: 2;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: left;
  }
  .impact__title--text h1 {
    text-align: left;
    font-size: 2rem;
  }
  .impact__title--text p {
    font-size: 1rem;
  }
  article {
    margin: 10px 0 0px 0px;
    padding: 1px 5px;
    flex-direction: column;
    margin-left: 18px;
  }
  article button {
    margin: 1px 80px;
    width: 50%;
  }
  .skincare {
    align-content: center;
    cursor: pointer;
  }
  section .firniture__container .firniture__products article.product-card h3 {
    margin-right: 1rem;
  }
  section .skincare__container .skincare__products article.product-card h3, section .firniture__container .skincare__products article.product-card h3, section .info__about--us .skincare__products article.product-card h3, section .info-gallery .skincare__products article.product-card h3, section .info-location .skincare__products article.product-card h3,
  section .furniture__container .furniture__products article.product-card h3 {
    margin-right: 1rem;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
  }
  section .skincare__container .skincare__products article.product-card p, section .firniture__container .skincare__products article.product-card p, section .info__about--us .skincare__products article.product-card p, section .info-gallery .skincare__products article.product-card p, section .info-location .skincare__products article.product-card p,
  section .firniture__container .firniture__products article.product-card p {
    font-size: 10px;
    line-height: 16px;
    text-align: left;
  }
  section .skincare__container .skincare__products article.product-card .section__product--img img, section .firniture__container .skincare__products article.product-card .section__product--img img, section .info__about--us .skincare__products article.product-card .section__product--img img, section .info-gallery .skincare__products article.product-card .section__product--img img, section .info-location .skincare__products article.product-card .section__product--img img,
  section .firniture__container .firniture__products article.product-card .section__product--img img {
    width: 40vw;
    height: 25vh;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
  }
  section .skincare__container .skincare__products article.product-card, section .firniture__container .skincare__products article.product-card, section .info__about--us .skincare__products article.product-card, section .info-gallery .skincare__products article.product-card, section .info-location .skincare__products article.product-card,
  section .firniture__container .firniture__products article.product-card {
    width: 60vw;
    height: 60vh;
    padding: 15px;
    justify-content: center;
  }
  section .firniture__container .firniture__products,
  section .skincare__container .skincare__products,
  section .firniture__container .skincare__products,
  section .info__about--us .skincare__products,
  section .info-gallery .skincare__products,
  section .info-location .skincare__products {
    margin-top: 0px;
    align-items: center;
    flex-wrap: nowrap;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
    overflow-y: auto;
  }
  .info__about--us .about__mission--section {
    display: block;
  }
  .info__about--us .about__mission--section .about__ambient--earth,
  .info__about--us .about__mission--section .about__innovation--focus {
    display: inline;
  }
  .info__about--us .about__mission--section .about__ambient--earth img,
  .info__about--us .about__mission--section .about__innovation--focus img {
    padding: 10px;
    width: 40vw;
    margin: 20px auto;
    display: block;
    margin-bottom: 30px;
  }
  .info__about--us .about__mission--section .about__ambient--earth,
  .info__about--us .about__mission--section .about__innovation--focus {
    font-size: 0.8rem;
  }
  section .info__about--us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
  }
  section .info__about--us h2 {
    padding: 20px 0;
    margin-left: 0;
    text-align: center;
  }
  section .info-gallery h2 {
    margin-left: 50px;
  }
  .info-gallery .gallery__section--img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-gallery .gallery__section--img img {
    display: block;
    width: 80vw;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    margin-bottom: 20px;
    overflow: none !important;
  }
  .section .info-location {
    margin-top: -100px;
    margin-bottom: 20px;
  }
  section .info-location h2 {
    margin-left: 50px;
  }
  .info-location .location__google--img img {
    width: 250px;
    height: 250px;
    /* Para posicionar con `top` y `left` */
    left: 30px;
    border-radius: 3.85px 0px 0px 0px;
    /* Ajustes para la imagen */
    -o-object-fit: cover;
       object-fit: cover;
    /* Mantiene la proporción sin distorsión */
    background-size: cover;
    /* Si usas fondo, esto asegura que la imagen cubra el área */
    background-position: center;
    background-repeat: no-repeat;
    /* Mejora de calidad */
    image-rendering: -webkit-optimize-contrast;
    /* Mejora nitidez en Webkit (Chrome, Safari) */
    image-rendering: crisp-edges;
    /* Mejora la calidad de la imagen sin suavizarla */
    /* Acercar la imagen sin cambiar width/height */
    transform: scale(1.1);
    /* Escala la imagen un 10% */
    transition: transform 0.3s ease-in-out;
    /* Suaviza la transición de escala si es dinámica */
    /* Si la imagen se muestra como fondo, estos ajustes son útiles */
    background-attachment: fixed;
  }
  .info-location p,
  .info-location h3 {
    font-size: 1rem;
  }
  body footer .footer-container .social-media {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
  }
  body footer .footer-container .social-media img {
    width: 8vw;
  }
  body footer {
    padding: 5px;
  }
}