[class*=normal] {
  background-color: #a8a878;
}

[class*=fire] {
  background-color: #f08030;
}

[class*=water] {
  background-color: #6890f0;
}

[class*=grass] {
  background-color: #78c850;
}

[class*=electric] {
  background-color: #f8d030;
}

[class*=ice] {
  background-color: #98d8d8;
}

[class*=fighting] {
  background-color: #bf2f27;
}

[class*=poison] {
  background-color: #a040a0;
}

[class*=ground] {
  background-color: #e0c068;
}

[class*=flying] {
  background-color: #a890f0;
}

[class*=psychic] {
  background-color: #f85888;
}

[class*=bug] {
  background-color: #a8b820;
}

[class*=rock] {
  background-color: #b8a038;
}

[class*=ghost] {
  background-color: #705898;
}

[class*=dark] {
  background-color: #705848;
}

[class*=dragon] {
  background-color: #7038f8;
}

[class*=steel] {
  background-color: #b8b8d0;
}

[class*=fairy] {
  background-color: #f0b5bb;
}

.pokemon-card {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card-size {
  width: 60%;
}
@media screen and (min-width: 768px) {
  .pokemon-card-size {
    width: 40%;
  }
}
@media screen and (min-width: 1025px) {
  .pokemon-card-size {
    width: 20%;
  }
}

.pokemon-tag {
  margin: 2px;
  border-radius: 5px;
  padding: 2px;
}

.pokemon-capture-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}